* {
  margin: 0;
  padding: 0;
}
body {
background-color: rgb(255, 255, 255);
}
.main_container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.game_boy {
width: 150px;
height: 300px;
background-color: #ed3833;
border: 3px solid #060505;
border-radius: 8px;
margin: 10px;
padding: 10px;
text-align: center;
box-shadow: 0 4px 8pxs
rgba(0, 0, 0, 0.1);
}
h1 {
color: #333;
font-family: 'Pokemon Solid', sans-serif;
}
.presentation {
margin-left: 75px;
}
.pokedex-container {
display: flex;
flex-wrap: 20px;
background-color:black ;
}

